.support{
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30%;
}
@keyframes zoom {
    0%,100%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(.7);
    }
}